body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e4e4e4; /* Default background color */
    transition: background-image 0.3s; /* Smooth transition for background changes */
}

#dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search-container {
    width: 30%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#search-container h2 {
    margin-top: 0;
}

#search-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#search-history {
    margin-top: 20px;
    overflow-y: auto;
}

#search-history button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    transition: background-color 0.3s;
}

#search-history button:hover {
    background-color: #ccc;
}

#weather-container {
    width: 68%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #333;
}

#current-weather {
    padding: 20px;
    margin-bottom: 20px;
}

#forecast-weather h3 {
    margin-top: 0;
}

#forecast-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.forecast-card {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    flex: 1;
    min-width: 18%;
}
